@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap');

 h3,b{
    background: linear-gradient(to right, rgb(203, 6, 141), rgb(237, 99, 14));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-family: "Alata", sans-serif;
}