@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap");
.nav-item {
  background: linear-gradient(to right, rgb(203, 6, 141), rgb(237, 99, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}
.logo {
  background: linear-gradient(to right, rgb(203, 6, 141), rgb(237, 99, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}
.nav-item:hover {
  transform: scale(1.5);
  font-family: "Crimson Text", sans-serif;
  cursor: pointer;
}
