@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&display=swap");
.nav-item {
  background: linear-gradient(to right, rgb(203, 6, 141), rgb(237, 99, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}
.logo {
  background: linear-gradient(to right, rgb(203, 6, 141), rgb(237, 99, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}
.nav-item:hover {
  transform: scale(1.5);
  font-family: "Crimson Text", sans-serif;
  cursor: pointer;
}
t {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1pz solid #999;
  background-color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-icon {
  width: 15px;
  height: 15px;
}

.t-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
}